img {
    max-width: 100%;
}

.container {
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

body {
    margin: 0;
    font-size: 1.125rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

@media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-01,
    .col-02 {
        width: 100%;
    }
}

h1 {
    color: black;
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h1 span {
    color: chocolate;
}

.col-3,
.col-02 {
    background-color: tomato;
    padding: .5em;
}

.col-1,
.col-3,
.col-02 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-01 {
    width: 70%;
}